button.bp3-button.bp3-fill.bp3-large {
    background-color: #424242;
}

.main-table-wrapper {
    display: flex;
    flex-direction: column;
}

.main-table-wrapper table{
    width: 100%;
}

.menu-button-wrapper {
    margin-bottom: 2rem;
}

td.update-column {
    display: flex;
}

td.update-column div {
    margin-right: 1rem;
}