div.interactable-section-wrapper {
    display: flex;
    width: 50%;
    align-self: center;
    align-content: center;
    flex-direction: column;
    max-width: 30rem;
}

div.main-menu-wrapper {
    display: flex;
    flex-direction: column;
}

@media (max-width: 450px) {
    div.interactable-section-wrapper {
        width: 85%;
    }
}

.bp3-dark .bp3-divider {
    border-color: #A7B6C2;
}

.bp3-input-group.bp3-large .bp3-input {
    margin: 2%;
}